.mapContainer {
  height: 550px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.popupColor {
  color: var(--map-color);
}
